.topnav {
  background-color: #333;
  overflow: hidden;
  font-family: 'Titillium Web', sans-serif;
  padding-bottom: 10px;
  display: flex;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navContent {
  display: flex;
  justify-content: flex-start;
}

.brandImage {
  border-radius: 4px;
}
h2 {
  margin: auto;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 3em;
  font-family: Architects Daughter;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;            
}
.dogsContainer {
  display: flex;
  justify-content: space-evenly;
  padding: 70px;
}

.dog {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100px;
  width: 200px;
  margin:7px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow:  5px 5px 5px rgba(85, 16, 16, 0.7)
}
 .dog img {
   min-width: 200px;
   min-height: 175px;
 }

 .catsContainer {
  display: flex;
  justify-content: space-evenly;
  padding: 70px;
 }

.cat {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100px;
  width: 200px;
  margin:7px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow:  5px 5px 5px rgba(85, 16, 16, 0.7)

}
.cat img {
  min-width: 200px;
  min-height: 175px;
}
 h5 {
   font-size: 15px;
   font-family: Architects Daughter;
 }
